header{
    text-align: center;
}
header h1 {
    font-size: xx-large;
    color: blueviolet;
}
nav{
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
}
section p{
    display: flex;
}
/* Default Dark Theme */
:root {
  --bg-color: #121212;
  --text-color: #ffffff;
}

/* Light Theme overrides */
.light-mode {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s; /* Smooth transition between themes */
}